.contact {
  height: 100%;
  padding-top: 55vh;
  overflow: hidden;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../img/model-1.png") center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .social-icons {
    position: initial;
    margin-top: 2rem;
  }

  .text-secondary {
    margin: 0.5rem;
  }
}
