.home {
  height: 100%;
  padding-top: 55vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url("../img/model-1.png") center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;

  &__name {
    font-size: 3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    // border-bottom: 2px solid set-text-color($primary-color);
    // text-decoration: underline 1px;

    &__around {
      font-size: 1.5rem;
    }

    &--last {
      color: $secondary-color;
      font-weight: 600;
    }
  }
}
